@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@-ms-viewport {
  width: device-width;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 65ch;
}

IMG {
  display: block;
  max-width: 100%;
  height: auto;
}

i {
  pointer-events: none;
}

:root {
  --bg-color: #e9eef6;
  --text-color: #101010;
  --star-size: 1.25rem;
  --star-color: rgba(0, 0, 0, 0.3);
  --star-background: #fc0;
  --rating: 0;
  --btn-primary: hsl(220, 100%, 50%);
  --btn-primary-hover: hsl(225, 100%, 40%);
  --btn-extra: hsl(210, 100%, 50%);
  --scroll-primary: hsl(220, 100%, 50%);
  --scroll-secondary: hsl(0 0% 0% / .15);
  --error: #cc0000;
  --tooltip: #333333e5;
  --delete-btn: var(--btn-primary);
  --save-btn: var(--btn-primary);
  --edit-btn: var(--btn-primary);
  --edit-btn-active: hsla(130, 81%, 43%, 0.8);

  --ff: "Montserrat", sans-serif;
  --gap-size: 1.25rem;
  --border-radius: 20px;

  --clr-shadow-light: hsla(0, 0%, 100%, 0.3);
  --clr-shadow-dark:hsla(0, 0%, 0%, 0.2);
  --shadow:   
      -15px -15px 15px 0px var(--clr-shadow-light),
      0 0 0 1px hsla(0, 0%, 0%, .05), 
      15px 15px 15px var(--clr-shadow-dark);
  --hoverShadow: 
    -4px -4px 4px 0px var(--clr-shadow-light),
    4px 4px 4px 0px var(--clr-shadow-dark);
  --focusShadow: 
      inset -10px -10px 10px var(--clr-shadow-light), 
      inset 10px 10px 10px var(--clr-shadow-dark);
  
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: var(--ff);
  background: var(--bg-color);
  color: var(--text-color);
}
main {
  position: relative;
  padding-top: 5rem;
}
nav {
  background-color: var(--bg-color);
  box-shadow:
  inset 1px 1px 0px 2px var(--clr-shadow-dark), 
  inset -1px -1px 0px 2px var(--clr-shadow-light),
  3px 3px 10px -3px var(--clr-shadow-dark);
}
nav.navbar {
  z-index: 6000;
  position: fixed;
  width: 100%;
}
.logo-img {
  height: 4rem;
  margin: -1.7rem 0 -2rem -.5rem;
  padding: .25rem;
}
/*#shop {
    max-height: 75vh !important;
}*/

/* Store Css */

#shop-container {
  --gap: 1.25em;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}



#shop-container > h1 {
  font-weight: 800;
}

.shop-row {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.product-type {
  text-transform: capitalize;
  font-weight: 600;
}

.row-items {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) + .4rem);
  flex-wrap: wrap;
  justify-content: center;
}

.shop-item {
  flex: 1 1 24%;
  max-width: 15rem;
  display: grid;
  grid-template-areas:
  'image'
  'name'
  'rating'
  'price';
  grid-template-rows: 1fr minmax(5rem, max-content) max-content max-content;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  transition: filter 150ms ease-out;
  box-shadow: var(--shadow);
}
.shop-item:hover {
  box-shadow: var(--focusShadow);
  cursor: pointer;
  filter: brightness(.9);
  transition: filter 150ms ease-in;
}

.product-name {
  grid-area: name;
  font-size: 1rem;
  font-weight: 500;
  align-self: start;
  padding: 0;
  margin: 0;
  text-align: left;
}

.product-image {
  grid-area: image;
  max-height: 15rem;
  align-self: end;
  justify-self: center;
  padding: 1rem;
}

.product-price {
  grid-area: price;
  align-self: end;
  font-weight: 500;
}

/* Stars */

.Stars {
  grid-area: rating;
  display: grid;
  grid-auto-flow: column;
  place-content: flex-start;
  align-self: end;
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: var(--star-size);
  font-family: Times;
  height: 2rem;
  
}
.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-count {
  font-family: var(--ff);
  font-size: .8rem;
  margin-top: .275rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.quantity-btn {
  max-width: 12rem;
  border-radius: 100vw;
  background-color: var(--btn-primary);
  box-shadow: var(--shadow);
}
.quantity-btn:hover {
  box-shadow: var(--hoverShadow);
}
.quantity-btn:focus-visible {
  box-shadow: var(--focusShadow);
}

.add-to-cart {
  display: flex;
  justify-content: center;
}
.add-to-cart > button {
  width: 100%;
  background-color: var(--btn-primary);
  border-radius: 100vw;
  color: white;
  font-size: 1.1rem;
  padding: .25em;
  border: none;
  transition: background-color 150ms ease-in-out;
}

.add-to-cart > button:hover,
.add-to-cart > button:focus-visible {
  background-color: var(--btn-primary-hover);
  transition: background-color 150ms ease-in-out;
}

.change-quantity {
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.1rem;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content;
  grid-template-areas: 'decrease count increase';
}

.change-quantity > button {
  background-color: var(--btn-extra);
  color: white;
  font-size: 1.5rem;
  line-height: 1;
  border: 0;
  padding: .25em .75em;
  font-family: Times;
  transition: background-color 150ms ease-in-out;
}
.change-quantity > button:hover,
.change-quantity > button:focus-visible {
  background-color: var(--btn-primary-hover);
  transition: background-color 150ms ease-in-out;
}
.change-quantity > .quantity-remove {
  grid-area: decrease;
  border-radius: 100vw 0 0 100vw;
}
.change-quantity > .quantity-number {
  grid-area: count;
  padding: 0 1.25em;
}
.change-quantity > .quantity-add {
  grid-area: increase;
  border-radius: 0 100vw 100vw 0;
}




.quantity-btn > .add-to-cart.hide {
  display: none;
}
.quantity-btn > .add-to-cart.show {
  display: flex;
}

.quantity-btn > .change-quantity.hide {
  display: none;
}
.quantity-btn > .change-quantity.show {
  display: grid;
}

/* CART */

.cart-button {
  display: none;
  margin-left: .5rem;
  background-color: var(--btn-primary);
  color: white;
  padding: .3em .75em;
  border: 0;
}
.cart-button:hover,
.cart-button:focus-visible {
  background-color: var(--btn-primary-hover);
}
.cart-button.disabled {
  filter: grayscale(.85) brightness(.9);
}
.cart-button.disabled:hover,
.cart-button.disabled:focus-visible {
  background-color: var(--btn-primary);
  outline: none;
  border: 0;
  cursor: unset;
}

.mobile-cart-btn {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  z-index: 7000;
  padding: 1rem 1.35rem;
  border-radius: 10px;
  border: 0;
  box-shadow: 
  -5px -5px 5px 0px hsl(0 0% 100% / .15),
  10px 10px 10px hsl(0 0% 0% / .15),
  inset 0px 0px 2px 2px hsl(0, 0%, 0%, .75);
  background-color: var(--btn-primary);
  color: white;
}
.mobile-cart-btn:hover,
.mobile-cart-btn:focus-visible {
  box-shadow: 
  inset -10px -10px 10px hsl(0 0% 100% / .15), 
  inset 10px 10px 10px hsl(0 0% 0% / .15),
  inset 0px 0px 2px 2px hsl(0, 0%, 0%, .75);
}

#cart-container {
  position: fixed;
  background-color: #f8f8f8;
  padding: .4em .5em 1em .5em;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  grid-template-areas:
  'cart-items'
  'totals'
  'checkout';
  width: 75vw;
  height: 100%;
  transform: translateX(200%);
  transition: transform 300ms ease-out;
  z-index: 6500;
}
#cart-container.show {
  transform: translateX(0%);
  transition: transform 300ms ease-out;
}

.cart-items {
  grid-area: cart-items;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: .2em .3em;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em;
}

.cart-item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  border: 1px inset #ccc;
  background-color: #fff;
}

.cart-item-name {
  font-size: .75rem;
}

.cart-item-image {
  width: 100px;
  padding: .5rem;
}

.cart-item-price::before {
  content: '$';
}

.cart-numbers {
  grid-area: totals;
}

.cart-numbers > * {
  border-top: 2px solid #ccc;
}

.cart-numbers h3 {
  font-size: 1.25rem;
}
.cart-numbers p {
  font-size: .9rem;
}

.subtotal-group,
.taxes-group,
.total-group {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.cart-numbers > * >:last-child {
  justify-self: end;
}

.checkout {
  grid-area: checkout;
}

.payment-cluster-img {
  padding: .5rem 0 .25rem 0;
}

.cart-submit-btn {
  text-decoration: none;
  color: unset;
  border: 1px solid black;
  padding: .4em;
  text-align: center;
  position: relative;
  z-index: -1;
  font-weight: 500;
}

.cart-submit-btn::after {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  background-color: var(--btn-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.cart-submit-btn:focus-visible::after,
.cart-submit-btn:hover::after {
  transform: scaleX(1);
}



/*********************************************************************
                            Checkout      
********************************************************************/

#checkout-cart-container input[type=text] {
  box-shadow: var(--hoverShadow);
  background-color: inherit;
  border: none;
}
#checkout-cart-container input,
#checkout-cart-container select {
  border-radius: 100vw;
}
#checkout-cart-container label {
  margin-left: .75rem;
}
#checkout-cart-container input[type=text]:focus-visible {
  box-shadow: var(--focusShadow);
  outline: none;
}
#checkout-cart-container label {
  margin-bottom: .5rem;
  font-weight: 500;
}
#checkout-cart-container select {
  background-color: inherit;
  border: none;
  outline: none;
  box-shadow: 
  inset -2px 0px 2px var(--clr-shadow-light),
  inset 0px -2px 2px var(--clr-shadow-light),
   -2px 0px 2px var(--clr-shadow-light),
   0px -2px 2px var(--clr-shadow-light),
  inset 0 0 0 2px var(--bg-color),
   2px 0px 2px var(--clr-shadow-dark),
   0px 2px 2px var(--clr-shadow-dark),
  inset 2px 0px 2px var(--clr-shadow-dark),
  inset 0px 2px 2px var(--clr-shadow-dark);
  appearance: none;
  padding: .5rem 1.15rem;
}


/* credit checked */
#credit:checked~.type-credit-card {
  display: block;
}
#credit:checked~.type-debit-card {
  display: none;
}
#credit:checked~.type-paypal {
  display: none;
}
/* debit checked */
#debit:checked~.type-credit-card {
  display: none;
}
#debit:checked~.type-debit-card {
  display: block;
}
#debit:checked~.type-paypal {
  display: none;
}
/* paypal checked */
#paypal:checked~.type-credit-card {
  display: none;
}
#paypal:checked~.type-debit-card {
  display: none;
}
#paypal:checked~.type-paypal {
  display: grid;
}
.custom-control-input {
  height: 1px;
  width: 1px;
  opacity: 0
}
.custom-control-input:focus-visible+label {
  box-shadow: 0px 0px 0px 5px var(--bg-color),
              0px 0px 0px 6px var(--text-color);
}
.custom-control-label {
  margin: 0 1.5em 1em -.375em;
  user-select: none;
  cursor: pointer;
}
.custom-control-input:checked+label {
  font-weight: 600;
  position: relative;
  z-index: -1;
}
.custom-control-input+label::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 2px;
  background-color: #333;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
}
.custom-control-input:checked+label::after {
  transform: scaleX(1);
  transition: transform 300ms ease-in-out;
}
.type-paypal {
  display: grid;
  justify-items: start;
  align-items: center;
  padding: 3rem 0 5rem 5rem;
}
#paypal-btn,
#checkout-cart-container .btn {
  border: none;
  outline: none;
  border-radius: 100vw;
  box-shadow: var(--shadow);
  overflow: hidden;
}
#paypal-btn:hover,
#checkout-cart-container .btn:hover {
  box-shadow: var(--hoverShadow);
}
#paypal-btn:focus-visible,
#checkout-cart-container .btn:focus-visible {
  box-shadow: var(--focusShadow);
}

/* About Founders */
.intro-copy {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

#about-template [class^="col"] {
    padding: 2rem;
}

#about-template .row {
    padding-top: var(--gap-size);
}

.profile-col img {
    object-fit: cover;
    height: 140px;
    width: 140px;
}

.profile-col h2 {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
}

.profile-col p {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
}

#modal-container {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(0, 0%, 0%, .75);
  backdrop-filter: blur(10rem);
  -webkit-backdrop-filter: blur(10rem);
  display: none;
  opacity: 0;
}

#modal-container.show {
  display: grid;
  opacity: 1;
  animation: fadeIn 300ms forwards;
}

@keyframes fadeIn {
  100% {
     opacity: 1;
     display: grid; 
    }
  0% { 
    opacity: 0;
    display: none;
   }
}

.items-details-container {
  --padding: 1.25vh 1.5vw 3vh 1.5vw;
  --mH: 10vh;
  background: var(--bg-color);
  padding: var(--padding);
  margin: var(--mH) 12vw;
  max-height: calc(100vh - var(--mH));
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: var(--border-radius);
  box-shadow: 
  0px 0px 5px hsl(0, 0%, 100%, .15),
  inset 0px 0px 0px 1px hsl(0, 0%, 50%, .5),
  inset -5px -5px 5px hsl(0, 0%, 0%, .3),
  inset 5px 5px 5px hsl(0, 0%, 0%, .3);
}

.item-details-name {
  text-align: center;
  padding: 1vmin;
  font-size: calc(.5rem + 3vmin);
  font-weight: 600;
}

.items-details-subcontainer {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  grid-template-areas:
  'image'
  'description'
  'purchase';
  height: 100%;
  padding: var(--padding);
  gap: 1em;
  font-size: calc(.5rem + 1vmin);
}

.item-details-image {
  grid-area: image;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-details-description {
  grid-area: description;
  padding: var(--padding);
  margin: 0;
  place-self: start;
  font-size: calc(.6rem + .6vmin);
}

.item-details-purchase {
  grid-area: purchase;
  display: flex;
  flex-direction: row;
  align-self: end;
  padding: var(--padding);
  justify-content: space-between;
  align-items: baseline;
}

.item-details-quantity-container > .quantity-btn {
  min-width: 10.5rem;
}

.item-details-price {
  font-size: calc(.75rem + 1.75vmin);
  font-weight: 600; 
}

.item-details-price::before {
  content: '$';
}

.more-details-link {
  color: var(--text-color);
  text-decoration: none;
  padding: .75rem 4rem .75rem 3rem;
  font-weight: 600;
  font-size: calc(.75rem + .75vmin);
  letter-spacing: 1px;
  text-transform: capitalize;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  position: relative;
}
.more-details-link:hover {
  color: var(--text-color);
  box-shadow: var(--hoverShadow);
}
.more-details-link:focus-visible {
  color: var(--text-color);
  box-shadow: var(--focusShadow);
}
.more-details-link::after {
  content: '';
  position: absolute;
  top: 43%;
  right: 0;
  transform: translateX(-250%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 13px solid var(--text-color);
}




/*********************************************************************
                            Details Page       
********************************************************************/
#item-details-container {
  box-shadow:
  -1vmin -1vmin 1.25vmin hsla(0, 0%, 100%, 0.5),
  1vmin 1vmin 1vmin hsla(0, 0%, 0%, 0.1),
  inset 0 0 0 1.25vmin hsl(217, 42%, 94%),
  inset -1.75vmin 0 .75vmin hsla(0, 0%, 100%, .75), 
  inset 0 -1.75vmin .75vmin hsla(0, 0%, 100%, .75), 
  inset 1.5vmin 0 1.5vmin hsla(0, 0%, 0%, 0.2),
  inset 0 1.5vmin 1.5vmin hsla(0, 0%, 0%, 0.2);
  border-radius: var(--border-radius);
  padding: 3rem 1rem;
}
.main-image {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}




.item-card-container {
  display: grid;
  grid-template-areas:
  'name name'
  'price btn';
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.item-card-container > .item-name {
  grid-area: name;
  font-weight: 500;
  font-size: calc(1rem + 1.5vmin);
  margin: 0;
}
.item-card-container > .item-price {
  grid-area: price;
  align-self: baseline;
  justify-self: start;
  font-size: calc(1rem + 1vmin);
  font-weight: 600;
}
.item-card-container > .item-price::before {
  content: '$';
}
.item-card-container > .item-quantity-container {
  grid-area: btn;
  align-self: baseline;
  justify-self: end;
  min-width: 11rem;
}

.item-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1fr;
  grid-template-areas:
  'd s r'
  'c c c';
  gap: 1.25rem;
  padding: 1rem;
  min-height: 50vh;
}

.itemInfo-label {
  font-size: calc(.5rem + 1vmin);
  font-weight: 700;
  letter-spacing: 1px;
  padding: calc(.5rem + 1vw) 0; 
  text-align: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none; 
  box-shadow: var(--shadow);
  min-width: 12rem;
}



.itemInfo-input {
  position: absolute;
  opacity: 0;
  height: 1px;
  width: 1px; 
}
#Description+label {
  grid-area: d;
}
#Specifications+label {
  grid-area: s;
}
#Reviews+label {
  grid-area: r;
}

#Specifications:hover+label,
#Description:hover+label,
#Reviews:hover+label {
  box-shadow: var(--hoverShadow);
}

#Description:checked+label,
#Description:focus-visible+label,
#Specifications:checked+label,
#Specifications:focus-visible+label,
#Reviews:checked+label,

#Reviews:focus-visible+label {
  box-shadow: var(--focusShadow);
}

.item-description-container,
.item-specs-container,
.item-comment-container {
  grid-area: c;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  max-width: 60rem;
  justify-self: center;
}


/* description toggle */
#Description:checked~.item-description-container {
  display: grid;
}
#Description:checked~.item-specs-container {
  display: none;
}
#Description:checked~.item-comment-container {
  display: none;
}

/*spec toggle*/
#Specifications:checked~.item-description-container {
  display: none;
}
#Specifications:checked~.item-specs-container {
  display: grid;
}
#Specifications:checked~.item-comment-container {
  display: none;
}

/* comment toggle */
#Reviews:checked~.item-description-container {
  display: none;
}
#Reviews:checked~.item-specs-container {
  display: none;
} 
#Reviews:checked~.item-comment-container {
  display: grid;
}

.item-specs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-specs-container div {
  display: grid;
  grid-auto-flow: row;
  gap: .75rem;
  grid-template-columns: 1fr;
  font-size: clamp(.75rem, 1.5vw, 1.25rem);
}



/*********************************************************************
                            Comments       
********************************************************************/

.item-comment-container {
  gap: 1.5rem;
  grid-auto-flow: row;
}

.comment {
  min-height: 12rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  padding: 1rem;
  padding-right: .5rem;
  border-radius: var(--border-radius);
  line-height: 1;
  box-shadow: var(--shadow);
}
.comment-info {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  grid-template-rows: max-content;
  gap: 1vmin;
}
.comment-info > .comment-name {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: baseline;
  margin: 0; padding: .25rem;
  font-weight: 500;
  font-size: calc(.5rem + 1vmin);
}
.comment-info > .user-name {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: baseline;
  margin: 0; padding: .25rem;
  font-weight: 600;
  font-size: calc(.5rem + 1vmin);
}
.comment-info > .Stars {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: baseline;
  margin: 0; padding: .25rem;
}
.comment-body {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  resize: none;
  scrollbar-width: thin;
  background: inherit;
  font-size: calc(.5rem + 1vmin);
}

.create-comment {
  padding: 1.5rem;
  gap: 1rem;
  min-height: 20rem;
}

.comment .comment-text {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;
  grid-template-areas: 'body icons';
}

.create-comment .comment-text {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr max-content;
  grid-template-areas: 
  'body body body'
  'post error cancel';
  gap: 1rem;
}

.comment-body {
  grid-area: body;
}
.create-comment #comment-post {
  grid-area: post;
  justify-self: start;
}
.create-comment .comment-cancel {
  grid-area: cancel;
  justify-self: end;
}
.icons {
  grid-area: icons;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  padding-left: .5rem;
}
.delete {
  color: var(--delete-btn);
  padding: .5rem;
  grid-row: 1/2;
  border-radius: 10px / 50%;
  box-shadow: var(--hoverShadow);
}
.edit {
  color: var(--edit-btn);
  padding: .5rem;
  grid-row: 2/3;
  border-radius: 10px / 50%;
  box-shadow: var(--hoverShadow);
}
.edit.active {
  color: var(--edit-btn-active);
  box-shadow: var(--focusShadow);
}
.save {
  color: var(--save-btn);
  padding: .5rem;
  border-radius: 10px / 50%;
  box-shadow: var(--hoverShadow);
  grid-row: 3/4;
  display: none;
}
.save.show {
  display: block;
}
.save.show:hover,
.save:focus-visible,
.edit:not(.active):hover,
.edit:not(.active):focus-visible,
.delete:hover,
.delete:focus-visible {
  border: none;
  outline: none;
  box-shadow: 
  1px 0 2px hsl(0 0% 100% / .3),
  0 1px 2px hsl(0 0% 100% / .3),
  -1px 0px 2px hsl(0 0% 0% / .15),
  0 -1px 2px hsl(0 0% 0% / .15);
}

.create-comment #comment-error {
  grid-area: error;
  place-self: center;
  position: relative;
  color: var(--error);
  text-decoration-style: dotted;
  text-decoration-thickness: .13rem;
  text-decoration-color: var(--error);
  text-decoration-line: underline;
  cursor: pointer;
  
}
.create-comment #comment-error:hover::after,
.create-comment #comment-error:focus::after {
  content: attr(data-tooltip);
  position: absolute;
  display: block;
  white-space: pre-line;
  width: max-content;
  bottom: 0;
  right: -50%;
  transform: translate(30%, -30%);
  background: var(--tooltip);
  color: var(--bg-color);
  text-shadow: 2px 2px 2px var(--error);
  padding: .5rem .8rem;
  pointer-events: none;
}

.create-comment .comment-cancel,
.create-comment #comment-post {
  max-width: 10rem;
  border-radius: 100vw;
  padding: .65em 2em;
  font-size: calc(.5rem + 1vmin);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  user-select: none; 
  box-shadow: var(--shadow);
  border: 0;
  background: inherit;
}

.item-comment-container > .create-comment {
  box-shadow: none;
}

.create-comment .comment-cancel:hover,
.create-comment #comment-post:hover {
  box-shadow: var(--hoverShadow);
  background-color: inherit;
}
.create-comment .comment-cancel:focus-visible,
.create-comment #comment-post:focus-visible {
  box-shadow: var(--focusShadow);
  outline: none;
}

#create-comment .comment-body {
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
}
#create-comment .comment-body:focus-visible,
.editable {
  outline: none;
  box-shadow: var(--focusShadow);
}

input[type=text].comment-name {
  place-self: start;
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding: .5em .75em;
  border: 0;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
input[type=text].comment-name:focus-visible {
  outline: none;
  box-shadow: var(--focusShadow);
}

.stars-rating {
  background: hsla(60, 100%, 97%, 0.3);
  border: none;
  margin-top: -.5vmin;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: .2rem .6rem;
  box-shadow: var(--shadow);
  background: inherit;
}
.stars-rating option {
  background: inherit;
}

.comment-login-container {
  place-self: center;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.comment-login-header {
  align-self: baseline;
  font-size: calc(1rem + 1vmin);
}
.comment-login {
  align-self: baseline;
  font-weight: 600;
  font-size: calc(.75rem + .75vmin);
  letter-spacing: 2px;
  padding: .75rem 3.5rem;
  border-radius: 100vw;
  box-shadow: var(--shadow);
  color: var(--text-color);
  text-decoration: none;
}
.comment-login:hover {
  box-shadow: var(--hoverShadow);
  color: var(--text-color);
}
.comment-login:focus-visible {
  box-shadow: var(--focusShadow);
  color: var(--text-color);
}


/*********************************************************************
                            Sales Trends       
********************************************************************/

.sales-trend-graphs {
  display: grid;
}
.fake-sales-trends {
  box-shadow: var(--shadow);
}

/*********************************************************************
                            Media Queries      
********************************************************************/

@media only screen and (max-width: 48rem) {
  .item-info-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    'd'
    's'
    'r'
    'c';
    padding: 0;
  }
  .itemInfo-label {
    place-self: center;
  }
}

@media only screen and (min-width: 37rem) {
  .cart-button {
    display: block;
  }
  .mobile-cart-btn {
    display: none;
  }
  #cart-container {
    left: unset;
    right: 0;
    --m: 3.5rem;
    z-index: 1000;
    margin-top: var(--m);
    height: calc(100% - var(--m));
    border-left: 1px solid #ccc;
    width: 17rem;
  }
  .item-specs-container div {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }
  .item-specs-container div strong {
    justify-self: end;
    align-self: baseline;
  }
  .item-specs-container div p {
    justify-self: start;
    align-self: baseline;
  }
  #checkout-cart-container {
    margin-right: 16rem;
  }
}

@media only screen and (min-width: 60rem) {
  .items-details-subcontainer {
    grid-template-rows: minmax(max-content, 1fr) minmax(max-content, 4fr);
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    'image purchase'
    'image description';
  }
}
@media only screen and (min-width: 63rem) {
  main.cartShow {
    margin-right: 16rem;
  }
  #checkout-cart-container {
    margin-right: 0;
  }
}

@media only screen and (min-width: 90rem) {
  .items-details-subcontainer {
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
  }
}



/*********************************************************************
                            SCROLL BAR STYLE       
********************************************************************/
/* Chrome / Safari */
::-webkit-scrollbar {
  display: block;
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background: var(--scroll-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: var(--scroll-primary);
}

::-webkit-scrollbar-corner {
  background: var(--scroll-secondary);
}

/* Firefox --Early module, not as many options  */
html {
  scrollbar-color: var(--scroll-primary) var(--scroll-secondary);
  scrollbar-width: thin;
}
